[Unit]
Description=LTE modem setup
After=network-online.target

[Service]
Type=oneshot
TimeoutSec=180
ExecStart=/bin/lte-modem up
ExecStop=/bin/lte-modem down
ExecReload=/bin/lte-modem down
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
